.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    margin: 8px;
    border-radius: 10px;
}


.product {
    width: 300px;
    height: 510px;
    border: 1px solid #95A0A7;
    border-radius: 10px;
    position: relative;
}

.product-name {
    margin-top: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #0E161A;
}

.product-info {
    margin-left: 16px;
}

.product-info p {
    margin: 10px 0;
}

.btn-cart {
    bottom: 0;
    width: 100%;
    background: #FFE0B3;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
}

.btn-cart:hover {
    background-color: orange;
}

.cart-img {
    width: 20px;
    height: 20px;
}